*.exe
*.out

# Sublime
*.sublime-workspace
*.sublime-project

# Redis db files
*rdb

# Python
*.pyc
*.pyo

# Config file
config/config.gcfg

# Project binaries
warcluster
warcluster.exe

# Test dump files
*.test
