[server]
    host = "0.0.0.0"
    port = 7000

[database]
    host = "localhost"
    port = 6379

[twitter]
   consumerKey = "consumer-key-goes-here"
   consumerSecret = "consumer-secret-goes-here"
   accessToken = "access-token-goes-here"
   accessTokenSecret = "access-token-secret-goes-here"
