[server]
    host = "0.0.0.0"
    port = 7000
    console = true

[database]
    host = "localhost"
    port = 6379

[twitter]
   consumerKey = "consumer-key-goes-here"
   consumerSecret = "consumer-secret-goes-here"
   accessToken = "access-token-goes-here"
   accessTokenSecret = "access-token-secret-goes-here"

[race "InitLab"]
    id = 0
    red = 0.89215686
    green = 0.031372549
    blue = 0.054901961

[race "VarnaLab"]
    id = 1
    red = 0.95490196
    green = 0.29411765
    blue = 0.058823529

[race "Hackafe"]
    id = 2
    red = 0.99372549
    green = 0.79411765
    blue = 0.015686275

[race "BurgasLab"]
    id = 3
    red = 0.39215686
    green = 0.89803921
    blue = 0.10196078

[race "Hackube"]
    id = 4
    red = 0
    green = 0.81568627
    blue = 1

[race "MegaDev"]
    id = 5
    red = 1
    green = 0
    blue = 0.7843137254901961

